USE [master]
GO
/****** Object:  Database [EWMS1]    Script Date: 3/26/2026 11:13:46 PM ******/
CREATE DATABASE [EWMS1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EWMS1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOANGDT04\MSSQL\DATA\EWMS1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EWMS1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOANGDT04\MSSQL\DATA\EWMS1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EWMS1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EWMS1]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[LocationCode] [nvarchar](50) NOT NULL,
	[LocationName] [nvarchar](100) NULL,
	[Rack] [nvarchar](20) NULL,
	[Capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[CategoryID] [int] NULL,
	[Unit] [nvarchar](20) NULL,
	[CostPrice] [decimal](18, 2) NULL,
	[SellingPrice] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSuppliers]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSuppliers](
	[ProductID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
 CONSTRAINT [PK_ProductSuppliers] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[PurchaseOrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
 CONSTRAINT [PK_PurchaseOrderDetails] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ExpectedReceivingDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderDetails]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetails](
	[SalesOrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
 CONSTRAINT [PK_SalesOrderDetails] PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[SalesOrderID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[CustomerPhone] [nvarchar](20) NULL,
	[CustomerAddress] [nvarchar](255) NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ExpectedDeliveryDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockInDetails]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInDetails](
	[StockInID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
 CONSTRAINT [PK_StockInDetails] PRIMARY KEY CLUSTERED 
(
	[StockInID] ASC,
	[ProductID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockInReceipts]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInReceipts](
	[StockInID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[ReceivedBy] [int] NOT NULL,
	[ReceivedDate] [datetime] NULL,
	[Reason] [nvarchar](30) NULL,
	[PurchaseOrderID] [int] NULL,
	[TransferID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOutDetails]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOutDetails](
	[StockOutID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[LocationID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]) PERSISTED,
 CONSTRAINT [PK_StockOutDetails] PRIMARY KEY CLUSTERED 
(
	[StockOutID] ASC,
	[ProductID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockOutReceipts]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockOutReceipts](
	[StockOutID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[IssuedBy] [int] NOT NULL,
	[IssuedDate] [datetime] NULL,
	[Reason] [nvarchar](30) NULL,
	[SalesOrderID] [int] NULL,
	[TransferID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockOutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferDetails]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferDetails](
	[TransferDetailID] [int] IDENTITY(1,1) NOT NULL,
	[TransferID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[FromLocationID] [int] NULL,
	[ToLocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferRequests]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferRequests](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[FromWarehouseID] [int] NOT NULL,
	[ToWarehouseID] [int] NULL,
	[TransferType] [nvarchar](30) NULL,
	[RequestedBy] [int] NOT NULL,
	[ApprovedBy] [int] NULL,
	[RequestedDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[Status] [nvarchar](30) NULL,
	[Reason] [nvarchar](500) NULL,
	[FromRack] [nvarchar](20) NULL,
	[ToRack] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWarehouses]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWarehouses](
	[UserID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[AssignedDate] [datetime] NULL,
 CONSTRAINT [PK_UserWarehouses] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 3/26/2026 11:13:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [TableName], [RecordID], [Description], [IPAddress], [CreatedAt]) VALUES (1, 1, N'INSERT', N'Users', 12, N'Created new sales account: Maria Santos (sales4)', N'192.168.1.1', CAST(N'2026-03-02T20:54:35.293' AS DateTime))
INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [TableName], [RecordID], [Description], [IPAddress], [CreatedAt]) VALUES (2, 5, N'INSERT', N'PurchaseOrders', 1, N'Created PO #1 from Dell Technologies - Laptop batch', N'192.168.1.30', CAST(N'2026-03-02T20:54:35.293' AS DateTime))
INSERT [dbo].[ActivityLogs] ([LogID], [UserID], [Action], [TableName], [RecordID], [Description], [IPAddress], [CreatedAt]) VALUES (3, 5, N'INSERT', N'PurchaseOrders', 2, N'Created PO #2 from Apple Vietnam - iPhone & iPad batch', N'192.168.1.30', CAST(N'2026-03-02T20:54:35.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([InventoryID], [ProductID], [LocationID], [Quantity], [LastUpdated]) VALUES (1, 1, 1, 9, CAST(N'2026-03-26T23:05:50.020' AS DateTime))
INSERT [dbo].[Inventory] ([InventoryID], [ProductID], [LocationID], [Quantity], [LastUpdated]) VALUES (2, 2, 1, 29, CAST(N'2026-03-26T22:09:42.707' AS DateTime))
INSERT [dbo].[Inventory] ([InventoryID], [ProductID], [LocationID], [Quantity], [LastUpdated]) VALUES (3, 3, 2, 3, CAST(N'2026-03-12T17:43:01.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [WarehouseID], [LocationCode], [LocationName], [Rack], [Capacity]) VALUES (1, 1, N'HN-A1-01', N'Rack A1 Slot 01', N'A1', 200)
INSERT [dbo].[Locations] ([LocationID], [WarehouseID], [LocationCode], [LocationName], [Rack], [Capacity]) VALUES (2, 1, N'HN-A1-02', N'Rack A1 Slot 02', N'A1', 200)
INSERT [dbo].[Locations] ([LocationID], [WarehouseID], [LocationCode], [LocationName], [Rack], [Capacity]) VALUES (3, 1, N'HN-A2-01', N'Rack A2 Slot 01', N'A2', 300)
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Laptops & Computers')
INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Smartphones & Tablets')
INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Audio & Headphones')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Unit], [CostPrice], [SellingPrice]) VALUES (1, N'Dell XPS 15 9530 Laptop', 1, N'Piece', CAST(25545454.55 AS Decimal(18, 2)), CAST(33209090.92 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Unit], [CostPrice], [SellingPrice]) VALUES (2, N'Dell Inspiron 15 3520 Laptop', 1, N'Piece', CAST(12000000.00 AS Decimal(18, 2)), CAST(15600000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [Unit], [CostPrice], [SellingPrice]) VALUES (3, N'Dell Latitude 5540 Business Laptop', 1, N'Piece', CAST(22000000.00 AS Decimal(18, 2)), CAST(28500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[ProductSuppliers] ([ProductID], [SupplierID]) VALUES (1, 3)
INSERT [dbo].[ProductSuppliers] ([ProductID], [SupplierID]) VALUES (1, 5)
INSERT [dbo].[ProductSuppliers] ([ProductID], [SupplierID]) VALUES (2, 1)
GO
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 10, CAST(28000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 2, 20, CAST(12000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 3, 5, CAST(22000000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 

INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [WarehouseID], [CreatedBy], [Status], [ExpectedReceivingDate], [TotalAmount], [Notes], [CreatedAt]) VALUES (1, 3, 1, 5, N'Completed', CAST(N'2025-01-10T00:00:00.000' AS DateTime), CAST(875000000.00 AS Decimal(18, 2)), N'Q1 Dell laptop stock replenishment - Hanoi', CAST(N'2026-03-02T20:54:35.157' AS DateTime))
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [WarehouseID], [CreatedBy], [Status], [ExpectedReceivingDate], [TotalAmount], [Notes], [CreatedAt]) VALUES (2, 1, 2, 5, N'Completed', CAST(N'2025-01-15T00:00:00.000' AS DateTime), CAST(920000000.00 AS Decimal(18, 2)), N'Apple iPhone & iPad batch import - HCMC', CAST(N'2026-03-02T20:54:35.157' AS DateTime))
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [WarehouseID], [CreatedBy], [Status], [ExpectedReceivingDate], [TotalAmount], [Notes], [CreatedAt]) VALUES (3, 4, 3, 6, N'Approved', CAST(N'2025-02-01T00:00:00.000' AS DateTime), CAST(215000000.00 AS Decimal(18, 2)), N'Sony audio products for Da Nang', CAST(N'2026-03-02T20:54:35.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (5, N'Inventory Staff')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Purchasing Staff')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[SalesOrderDetails] ([SalesOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 3, CAST(35000000.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderDetails] ([SalesOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 2, 5, CAST(16000000.00 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderDetails] ([SalesOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 17, 20, CAST(1250000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[SalesOrders] ON 

INSERT [dbo].[SalesOrders] ([SalesOrderID], [WarehouseID], [CustomerName], [CustomerPhone], [CustomerAddress], [CreatedBy], [Status], [ExpectedDeliveryDate], [TotalAmount], [Notes], [CreatedAt]) VALUES (1, 1, N'FPT Retail Corporation', N'0241111111', N'89 Lang Ha, Dong Da, Hanoi', 2, N'Completed', CAST(N'2025-01-20T00:00:00.000' AS DateTime), CAST(245000000.00 AS Decimal(18, 2)), N'Priority morning delivery', CAST(N'2026-03-02T20:54:35.187' AS DateTime))
INSERT [dbo].[SalesOrders] ([SalesOrderID], [WarehouseID], [CustomerName], [CustomerPhone], [CustomerAddress], [CreatedBy], [Status], [ExpectedDeliveryDate], [TotalAmount], [Notes], [CreatedAt]) VALUES (2, 2, N'Viettel Store Chain', N'0282222222', N'285 Cach Mang Thang 8, District 3, HCMC', 3, N'Completed', CAST(N'2025-01-25T00:00:00.000' AS DateTime), CAST(188000000.00 AS Decimal(18, 2)), N'VAT invoice required', CAST(N'2026-03-02T20:54:35.187' AS DateTime))
INSERT [dbo].[SalesOrders] ([SalesOrderID], [WarehouseID], [CustomerName], [CustomerPhone], [CustomerAddress], [CreatedBy], [Status], [ExpectedDeliveryDate], [TotalAmount], [Notes], [CreatedAt]) VALUES (3, 1, N'Hanoi University of Technology', N'0243333333', N'1 Dai Co Viet, Hai Ba Trung, Hanoi', 2, N'Completed', CAST(N'2025-02-15T00:00:00.000' AS DateTime), CAST(62500000.00 AS Decimal(18, 2)), N'Government procurement order', CAST(N'2026-03-02T20:54:35.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalesOrders] OFF
GO
INSERT [dbo].[StockInDetails] ([StockInID], [ProductID], [LocationID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 10, CAST(28000000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockInDetails] ([StockInID], [ProductID], [LocationID], [Quantity], [UnitPrice]) VALUES (1, 2, 1, 20, CAST(12000000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockInDetails] ([StockInID], [ProductID], [LocationID], [Quantity], [UnitPrice]) VALUES (1, 3, 2, 5, CAST(22000000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[StockInReceipts] ON 

INSERT [dbo].[StockInReceipts] ([StockInID], [WarehouseID], [ReceivedBy], [ReceivedDate], [Reason], [PurchaseOrderID], [TransferID], [TotalAmount], [CreatedAt]) VALUES (1, 1, 9, CAST(N'2025-01-10T00:00:00.000' AS DateTime), N'Purchase', 1, NULL, CAST(875000000.00 AS Decimal(18, 2)), CAST(N'2026-03-02T20:54:35.237' AS DateTime))
INSERT [dbo].[StockInReceipts] ([StockInID], [WarehouseID], [ReceivedBy], [ReceivedDate], [Reason], [PurchaseOrderID], [TransferID], [TotalAmount], [CreatedAt]) VALUES (2, 2, 10, CAST(N'2025-01-15T00:00:00.000' AS DateTime), N'Purchase', 2, NULL, CAST(920000000.00 AS Decimal(18, 2)), CAST(N'2026-03-02T20:54:35.237' AS DateTime))
INSERT [dbo].[StockInReceipts] ([StockInID], [WarehouseID], [ReceivedBy], [ReceivedDate], [Reason], [PurchaseOrderID], [TransferID], [TotalAmount], [CreatedAt]) VALUES (3, 3, 11, CAST(N'2025-02-01T00:00:00.000' AS DateTime), N'Purchase', 3, NULL, CAST(215000000.00 AS Decimal(18, 2)), CAST(N'2026-03-02T20:54:35.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[StockInReceipts] OFF
GO
INSERT [dbo].[StockOutDetails] ([StockOutID], [ProductID], [LocationID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 3, CAST(35000000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockOutDetails] ([StockOutID], [ProductID], [LocationID], [Quantity], [UnitPrice]) VALUES (1, 2, 1, 5, CAST(16000000.00 AS Decimal(18, 2)))
INSERT [dbo].[StockOutDetails] ([StockOutID], [ProductID], [LocationID], [Quantity], [UnitPrice]) VALUES (1, 17, 5, 20, CAST(1250000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[StockOutReceipts] ON 

INSERT [dbo].[StockOutReceipts] ([StockOutID], [WarehouseID], [IssuedBy], [IssuedDate], [Reason], [SalesOrderID], [TransferID], [TotalAmount], [CreatedAt]) VALUES (1, 1, 9, CAST(N'2025-01-20T00:00:00.000' AS DateTime), N'Sales', 1, NULL, CAST(245000000.00 AS Decimal(18, 2)), CAST(N'2026-03-02T20:54:35.270' AS DateTime))
INSERT [dbo].[StockOutReceipts] ([StockOutID], [WarehouseID], [IssuedBy], [IssuedDate], [Reason], [SalesOrderID], [TransferID], [TotalAmount], [CreatedAt]) VALUES (2, 2, 10, CAST(N'2025-01-25T00:00:00.000' AS DateTime), N'Sales', 2, NULL, CAST(188000000.00 AS Decimal(18, 2)), CAST(N'2026-03-02T20:54:35.270' AS DateTime))
INSERT [dbo].[StockOutReceipts] ([StockOutID], [WarehouseID], [IssuedBy], [IssuedDate], [Reason], [SalesOrderID], [TransferID], [TotalAmount], [CreatedAt]) VALUES (3, 1, 9, CAST(N'2025-01-19T00:00:00.000' AS DateTime), N'Transfer', NULL, 1, CAST(44000000.00 AS Decimal(18, 2)), CAST(N'2026-03-02T20:54:35.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[StockOutReceipts] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Email], [Phone], [Address]) VALUES (1, N'Apple Vietnam Distribution', N'John Smith', N'john.smith@applevn.com', N'02438001111', N'5 Hoang Quoc Viet, Cau Giay, Hanoi')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Email], [Phone], [Address]) VALUES (2, N'Samsung Electronics Vietnam', N'Park Ji-Won', N'jiwan.park@samsung.vn', N'02838002222', N'120 Ly Chinh Thang, District 3, HCMC')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Email], [Phone], [Address]) VALUES (3, N'Dell Technologies Vietnam', N'Robert Lee', N'robert.lee@dell.vn', N'02363003333', N'88 Le Duan, Hai Chau, Da Nang')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[TransferDetails] ON 

INSERT [dbo].[TransferDetails] ([TransferDetailID], [TransferID], [ProductID], [Quantity], [FromLocationID], [ToLocationID]) VALUES (1, 1, 2, 10, NULL, NULL)
INSERT [dbo].[TransferDetails] ([TransferDetailID], [TransferID], [ProductID], [Quantity], [FromLocationID], [ToLocationID]) VALUES (2, 1, 3, 5, NULL, NULL)
INSERT [dbo].[TransferDetails] ([TransferDetailID], [TransferID], [ProductID], [Quantity], [FromLocationID], [ToLocationID]) VALUES (3, 1, 4, 8, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TransferDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[TransferRequests] ON 

INSERT [dbo].[TransferRequests] ([TransferID], [FromWarehouseID], [ToWarehouseID], [TransferType], [RequestedBy], [ApprovedBy], [RequestedDate], [ApprovedDate], [Status], [Reason], [FromRack], [ToRack]) VALUES (1, 1, 2, N'Warehouse', 7, 1, CAST(N'2026-03-02T20:54:35.213' AS DateTime), CAST(N'2025-01-18T09:00:00.000' AS DateTime), N'Completed', N'Redistribute excess laptop stock from Hanoi to HCMC', NULL, NULL)
INSERT [dbo].[TransferRequests] ([TransferID], [FromWarehouseID], [ToWarehouseID], [TransferType], [RequestedBy], [ApprovedBy], [RequestedDate], [ApprovedDate], [Status], [Reason], [FromRack], [ToRack]) VALUES (2, 2, 3, N'Warehouse', 8, 1, CAST(N'2026-03-02T20:54:35.213' AS DateTime), CAST(N'2025-02-05T10:30:00.000' AS DateTime), N'Completed', N'Transfer audio products to Da Nang branch', NULL, NULL)
INSERT [dbo].[TransferRequests] ([TransferID], [FromWarehouseID], [ToWarehouseID], [TransferType], [RequestedBy], [ApprovedBy], [RequestedDate], [ApprovedDate], [Status], [Reason], [FromRack], [ToRack]) VALUES (3, 3, 4, N'Warehouse', 7, 1, CAST(N'2026-03-02T20:54:35.213' AS DateTime), CAST(N'2025-02-20T14:00:00.000' AS DateTime), N'Approved', N'Restock Can Tho with accessories from Da Nang', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TransferRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [Phone], [RoleID], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'AQAAAAIAAYagAAAAEOD3Sxkn8QzpoO7e3uuQQr3JjMIM7wp4N4NAOpaclrAnLrlF6g72bRunhhdjOS12Ng==', N'System Administrator', N'admin@techstore.com', N'0901000001', 1, 1, CAST(N'2026-03-02T20:54:35.067' AS DateTime), CAST(N'2026-03-02T20:54:35.067' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [Phone], [RoleID], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'sales1', N'AQAAAAIAAYagAAAAECcouO7KB0GgNJcJPvj47jkXad2EFc8JBRyQXeqtpTK5hsDGhvietJzJo+V2lwgrTg==', N'James Carter', N'james.carter@techstore.com', N'0901000002', 2, 1, CAST(N'2026-03-02T20:54:35.067' AS DateTime), CAST(N'2026-03-02T20:54:35.067' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [Phone], [RoleID], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'sales2', N'hashed_sl2@123', N'Sarah Mitchell', N'sarah.m@techstore.com', N'0901000003', 2, 1, CAST(N'2026-03-02T20:54:35.067' AS DateTime), CAST(N'2026-03-02T20:54:35.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserWarehouses] ([UserID], [WarehouseID], [AssignedDate]) VALUES (1, 1, CAST(N'2026-03-02T20:54:35.083' AS DateTime))
INSERT [dbo].[UserWarehouses] ([UserID], [WarehouseID], [AssignedDate]) VALUES (1, 2, CAST(N'2026-03-02T20:54:35.083' AS DateTime))
INSERT [dbo].[UserWarehouses] ([UserID], [WarehouseID], [AssignedDate]) VALUES (1, 3, CAST(N'2026-03-02T20:54:35.083' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Warehouses] ON 

INSERT [dbo].[Warehouses] ([WarehouseID], [WarehouseName], [Address], [CreatedAt]) VALUES (1, N'Hanoi Main Warehouse', N'10 Giai Phong St, Hoang Mai, Hanoi', CAST(N'2026-03-02T20:54:35.070' AS DateTime))
INSERT [dbo].[Warehouses] ([WarehouseID], [WarehouseName], [Address], [CreatedAt]) VALUES (2, N'Ho Chi Minh City Warehouse', N'55 Nguyen Tat Thanh St, District 4, HCMC', CAST(N'2026-03-02T20:54:35.070' AS DateTime))
INSERT [dbo].[Warehouses] ([WarehouseID], [WarehouseName], [Address], [CreatedAt]) VALUES (3, N'Da Nang Warehouse', N'22 Tran Phu St, Hai Chau, Da Nang', CAST(N'2026-03-02T20:54:35.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[Warehouses] OFF
GO
/****** Object:  Index [UQ_Product_Location]    Script Date: 3/26/2026 11:13:47 PM ******/
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [UQ_Product_Location] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventory_LocationID]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventory_LocationID] ON [dbo].[Inventory]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventory_ProductID]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventory_ProductID] ON [dbo].[Inventory]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Location_Code]    Script Date: 3/26/2026 11:13:47 PM ******/
ALTER TABLE [dbo].[Locations] ADD  CONSTRAINT [UQ_Location_Code] UNIQUE NONCLUSTERED 
(
	[WarehouseID] ASC,
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160852BB658]    Script Date: 3/26/2026 11:13:47 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockInDetails_StockInID]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockInDetails_StockInID] ON [dbo].[StockInDetails]
(
	[StockInID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockInReceipts_WarehouseID_Date]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockInReceipts_WarehouseID_Date] ON [dbo].[StockInReceipts]
(
	[WarehouseID] ASC,
	[ReceivedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockOutDetails_StockOutID]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockOutDetails_StockOutID] ON [dbo].[StockOutDetails]
(
	[StockOutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StockOutReceipts_WarehouseID_Date]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_StockOutReceipts_WarehouseID_Date] ON [dbo].[StockOutReceipts]
(
	[WarehouseID] ASC,
	[IssuedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4FC6A6E14]    Script Date: 3/26/2026 11:13:47 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWarehouses_UserID]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserWarehouses_UserID] ON [dbo].[UserWarehouses]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWarehouses_WarehouseID]    Script Date: 3/26/2026 11:13:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserWarehouses_WarehouseID] ON [dbo].[UserWarehouses]
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Locations] ADD  DEFAULT ((200)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [CostPrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SellingPrice]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockInReceipts] ADD  DEFAULT (getdate()) FOR [ReceivedDate]
GO
ALTER TABLE [dbo].[StockInReceipts] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[StockInReceipts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockOutReceipts] ADD  DEFAULT (getdate()) FOR [IssuedDate]
GO
ALTER TABLE [dbo].[StockOutReceipts] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[StockOutReceipts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TransferRequests] ADD  DEFAULT ('Warehouse') FOR [TransferType]
GO
ALTER TABLE [dbo].[TransferRequests] ADD  DEFAULT (getdate()) FOR [RequestedDate]
GO
ALTER TABLE [dbo].[TransferRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserWarehouses] ADD  DEFAULT (getdate()) FOR [AssignedDate]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_ActivityLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_ActivityLogs_Users]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Locations] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Locations]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Products]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Warehouses]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[ProductSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_PS_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSuppliers] CHECK CONSTRAINT [FK_PS_Product]
GO
ALTER TABLE [dbo].[ProductSuppliers]  WITH CHECK ADD  CONSTRAINT [FK_PS_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSuppliers] CHECK CONSTRAINT [FK_PS_Supplier]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_POD_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_POD_Products]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_POD_PurchaseOrders] FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_POD_PurchaseOrders]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Suppliers]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Users]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrders_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_PurchaseOrders_Warehouses]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_SOD_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [FK_SOD_Products]
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_SOD_SalesOrders] FOREIGN KEY([SalesOrderID])
REFERENCES [dbo].[SalesOrders] ([SalesOrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesOrderDetails] CHECK CONSTRAINT [FK_SOD_SalesOrders]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Users]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Warehouses]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [FK_SID_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [FK_SID_Location]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [FK_SID_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [FK_SID_Product]
GO
ALTER TABLE [dbo].[StockInDetails]  WITH CHECK ADD  CONSTRAINT [FK_SID_StockIn] FOREIGN KEY([StockInID])
REFERENCES [dbo].[StockInReceipts] ([StockInID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockInDetails] CHECK CONSTRAINT [FK_SID_StockIn]
GO
ALTER TABLE [dbo].[StockInReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_PurchaseOrder] FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderID])
GO
ALTER TABLE [dbo].[StockInReceipts] CHECK CONSTRAINT [FK_StockIn_PurchaseOrder]
GO
ALTER TABLE [dbo].[StockInReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_ReceivedBy] FOREIGN KEY([ReceivedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StockInReceipts] CHECK CONSTRAINT [FK_StockIn_ReceivedBy]
GO
ALTER TABLE [dbo].[StockInReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_Transfer] FOREIGN KEY([TransferID])
REFERENCES [dbo].[TransferRequests] ([TransferID])
GO
ALTER TABLE [dbo].[StockInReceipts] CHECK CONSTRAINT [FK_StockIn_Transfer]
GO
ALTER TABLE [dbo].[StockInReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockIn_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[StockInReceipts] CHECK CONSTRAINT [FK_StockIn_Warehouse]
GO
ALTER TABLE [dbo].[StockOutDetails]  WITH CHECK ADD  CONSTRAINT [FK_SOD_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[StockOutDetails] CHECK CONSTRAINT [FK_SOD_Location]
GO
ALTER TABLE [dbo].[StockOutDetails]  WITH CHECK ADD  CONSTRAINT [FK_SOD_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[StockOutDetails] CHECK CONSTRAINT [FK_SOD_Product]
GO
ALTER TABLE [dbo].[StockOutDetails]  WITH CHECK ADD  CONSTRAINT [FK_SOD_StockOut] FOREIGN KEY([StockOutID])
REFERENCES [dbo].[StockOutReceipts] ([StockOutID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockOutDetails] CHECK CONSTRAINT [FK_SOD_StockOut]
GO
ALTER TABLE [dbo].[StockOutReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_IssuedBy] FOREIGN KEY([IssuedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StockOutReceipts] CHECK CONSTRAINT [FK_StockOut_IssuedBy]
GO
ALTER TABLE [dbo].[StockOutReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_SalesOrder] FOREIGN KEY([SalesOrderID])
REFERENCES [dbo].[SalesOrders] ([SalesOrderID])
GO
ALTER TABLE [dbo].[StockOutReceipts] CHECK CONSTRAINT [FK_StockOut_SalesOrder]
GO
ALTER TABLE [dbo].[StockOutReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_Transfer] FOREIGN KEY([TransferID])
REFERENCES [dbo].[TransferRequests] ([TransferID])
GO
ALTER TABLE [dbo].[StockOutReceipts] CHECK CONSTRAINT [FK_StockOut_Transfer]
GO
ALTER TABLE [dbo].[StockOutReceipts]  WITH CHECK ADD  CONSTRAINT [FK_StockOut_Warehouse] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[StockOutReceipts] CHECK CONSTRAINT [FK_StockOut_Warehouse]
GO
ALTER TABLE [dbo].[TransferDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransferDetails_FromLocation] FOREIGN KEY([FromLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[TransferDetails] CHECK CONSTRAINT [FK_TransferDetails_FromLocation]
GO
ALTER TABLE [dbo].[TransferDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransferDetails_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[TransferDetails] CHECK CONSTRAINT [FK_TransferDetails_Product]
GO
ALTER TABLE [dbo].[TransferDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransferDetails_ToLocation] FOREIGN KEY([ToLocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[TransferDetails] CHECK CONSTRAINT [FK_TransferDetails_ToLocation]
GO
ALTER TABLE [dbo].[TransferDetails]  WITH CHECK ADD  CONSTRAINT [FK_TransferDetails_Transfer] FOREIGN KEY([TransferID])
REFERENCES [dbo].[TransferRequests] ([TransferID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransferDetails] CHECK CONSTRAINT [FK_TransferDetails_Transfer]
GO
ALTER TABLE [dbo].[TransferRequests]  WITH CHECK ADD  CONSTRAINT [FK_TR_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TransferRequests] CHECK CONSTRAINT [FK_TR_ApprovedBy]
GO
ALTER TABLE [dbo].[TransferRequests]  WITH CHECK ADD  CONSTRAINT [FK_TR_FromWarehouse] FOREIGN KEY([FromWarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[TransferRequests] CHECK CONSTRAINT [FK_TR_FromWarehouse]
GO
ALTER TABLE [dbo].[TransferRequests]  WITH CHECK ADD  CONSTRAINT [FK_TR_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TransferRequests] CHECK CONSTRAINT [FK_TR_RequestedBy]
GO
ALTER TABLE [dbo].[TransferRequests]  WITH CHECK ADD  CONSTRAINT [FK_TR_ToWarehouse] FOREIGN KEY([ToWarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
GO
ALTER TABLE [dbo].[TransferRequests] CHECK CONSTRAINT [FK_TR_ToWarehouse]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[UserWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_UserWarehouses_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWarehouses] CHECK CONSTRAINT [FK_UserWarehouses_Users]
GO
ALTER TABLE [dbo].[UserWarehouses]  WITH CHECK ADD  CONSTRAINT [FK_UserWarehouses_Warehouses] FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWarehouses] CHECK CONSTRAINT [FK_UserWarehouses_Warehouses]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [CK_Quantity_NonNegative] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [CK_Quantity_NonNegative]
GO
ALTER TABLE [dbo].[TransferRequests]  WITH CHECK ADD  CONSTRAINT [CK_Different_Warehouses] CHECK  (([FromWarehouseID]<>[ToWarehouseID]))
GO
ALTER TABLE [dbo].[TransferRequests] CHECK CONSTRAINT [CK_Different_Warehouses]
GO
USE [master]
GO
